* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #333;
	background-color: #f8f9fa;
	margin: 0;
	padding: 0;
	height: 100%;
}

/* Контейнер */
.container {
	max-width: 1441px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 10px;
	font-weight: bold;
}

/* Ссылки */
a {
	color: #007bff;
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: #0056b3;
}

/* Кнопки */
button {
	display: inline-block;
	/* padding: 10px 20px; */
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
	transition: background 0.3s ease;
}

button:hover {
	background-color: #0056b3;
}

/* Списки */
ul {
	list-style: none;
}

/* Изображения */
img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* Формы */
input,
textarea,
select {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.head {
	display: flex;
	margin: 0 117px;
	justify-content: space-between;
}
.head_ul {
	display: flex;
	justify-content: space-between;
	width: 427px;
	height: 15px;
}
.head_icon {
	width: 26px;
	height: 26px;
	margin-right: 73px;
}
.head_li {
	width: 37px;
	height: 15px;
	color: #697ca6;
	margin-right: 42px;
}
.head_li:last-child {
	margin-right: 0;
}
.head_button {
	width: 113px;
	height: 43px;
	float: none;
	padding: 13px 15px;
}
.head_button:hover {
	background-color: #d2e1ff;
	color: #3a79ff;
}
.desc-tit {
	font-family: 'Roboto';
	color: #3d4f9f;
	margin-top: 92px;
	margin-bottom: 16px;
}
.tit {
	font-family: 'Quicksand';
	color: #3d4f9f;
	margin-bottom: 28px;
	font-size: 48px;
	font-weight: 300;
}
.increase {
	text-align: center;
}
.txt {
	color: #8d96bd;
	font-family: 'Roboto';
	line-height: 191%;
	font-size: 15px;
	font-weight: 400;
}

.play-button {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: white;
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
	font-size: 24px;
	color: #4c8bf5;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.play-button:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.play-button:active {
	transform: scale(0.95);
}
.increase {
	width: 100%;
	height: 570px;
	background-size: cover;
	background-position: center;
}
.background_cloud {
	text-align: center;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
.graph {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
}
